// .service-block{
//    display: flex;
//    flex-wrap: wrap;
  
//    .service-block-img-1{
//       background:url(img/service1.png);
//       height: 700px;
//    }
//    .service-block-img-2{
//       background:url(img/service2.png);
//       height: 460px;
//    }
//    .service-block-text-1{
//       width: 50%;
//    }
//    .service-block-img-2{
//       width: 40%;
//    }
//    .service-block-img-1{
//       width: 50%;
//    }
//    .service-block-text-2{
//       width: 60%;
//    }
// }
// .service-block-text{
//    display: flex;
//    justify-content: center;
//    align-items: center;
// }
// .service-block-text_mod{
//    width: 80%;
//    height: 80%;
//    h2{
//       font-family: $main_font;
//       font-weight: 600;
//       font-size: 30px;
//       line-height: 37px;
//       padding-bottom: 5%;
//    }
//    p{
//       font-weight: 400;
//       font-size: 20px;
//       line-height: 23px;
//       padding-bottom: 3%;
//    }
//    ul{
//       padding-left:20px;
//    }
//    li {
//       list-style-type: square;
//       padding-bottom: 10px;
//      }
//      li span{
//       color:#000;
//       font-weight: 400;
//       font-size: 18px;
//       line-height: 22px;
//      }
// }

// .service-block-img{
   
// }



// @media all and (max-width: 765px) {
//    .service-block{
//        .service-block-text, .service-block-img{
      

//    }
//   .service-block-img-1{
//    background:url(img/service1_1.png);
//       height: 350px; 
//    }
//    .service-block-img-2{
//       background:url(img/service2-2.png);
   
//    }
//    .service-block-img2-4{
//       height: 300px;
//    }
//    .service-block-text_mod{
//       padding-top: 20px;
//    }
//    .service-block-text,{
//       height: 100%;
      
//    }
   
//  } 

// }
 
// @media all and (max-width:625px) {
// .service-block-text{
//  p, li>span{
//    font-size: 18px;
//   }  
//  }
// }

.service-item-list{
   display: flex;
}
.service-list-1-img{
   width: 624px;
   height: 464px;
   background:url(img/service2.png);
   
}

@media all and (max-width:800px) {
   .service-list-1-img{
      width: 309px;
      height: 463px;
      width: 100%;
   }
}

@media all and (max-width:600px) {
   .service-item-list{
      flex-direction: column;
   }
   .service-list-1-img{
      width: 375px;
      height: 300px;
   }
}